:root {
  --color-orange-yellow: #f5ba13;
  --color-white: #fff;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.fab {
  font-size: 5rem;
  color: var(--color-white);
}

.fab:hover {
  color: black;
}